---
Checks: >-
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-*,
  hicpp-*,
  llvm-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: '*'
AnalyzeTemploraryDtors: true
FormatStyle: file
...
